

<ul class="control-sidebar-menu">
    <li>
        <a href="javascript::;">
            <i class="menu-icon fa fa-ship bg-blue"></i>
            <div class="menu-info">
                <h4 class="control-sidebar-subheading">Tab 2</h4>
                <p></p>
            </div>
        </a>
    </li>
    <li>
        <a href="javascript::;">
            <i class="menu-icon fa fa-university bg-yellow"></i>
            <div class="menu-info">
                <h4 class="control-sidebar-subheading">Tab 2</h4>
                <p></p>
            </div>
        </a>
    </li>
    <li>
        <a href="javascript::;">
            <i class="menu-icon fa fa-user bg-gray"></i>
            <div class="menu-info">
                <h4 class="control-sidebar-subheading">Tab 2</h4>
                <p></p>
            </div>
        </a>
    </li>
</ul>
