@model string
@{
    var guid = Guid.NewGuid();
    var selectList = new List<SelectListItem>();

    selectList.Add(new SelectListItem() { Text = "500px", Value = "500px" });
    selectList.Add(new SelectListItem() { Text = "Amazon", Value = "amazon" });
    selectList.Add(new SelectListItem() { Text = "Balance-scale", Value = "balance-scale" });
    selectList.Add(new SelectListItem() { Text = "Battery-0", Value = "battery-0" });
    selectList.Add(new SelectListItem() { Text = "Battery-1", Value = "battery-1" });
    selectList.Add(new SelectListItem() { Text = "Battery-2", Value = "battery-2" });
    selectList.Add(new SelectListItem() { Text = "Battery-3", Value = "battery-3" });
    selectList.Add(new SelectListItem() { Text = "Battery-4", Value = "battery-4" });
    selectList.Add(new SelectListItem() { Text = "Battery-empty", Value = "battery-empty" });
    selectList.Add(new SelectListItem() { Text = "Battery-full", Value = "battery-full" });
    selectList.Add(new SelectListItem() { Text = "Battery-half", Value = "battery-half" });
    selectList.Add(new SelectListItem() { Text = "Battery-quarter", Value = "battery-quarter" });
    selectList.Add(new SelectListItem() { Text = "Battery-three-quarters", Value = "battery-three-quarters" });
    selectList.Add(new SelectListItem() { Text = "Black-tie", Value = "black-tie" });
    selectList.Add(new SelectListItem() { Text = "Calendar-check-o", Value = "calendar-check-o" });
    selectList.Add(new SelectListItem() { Text = "Calendar-minus-o", Value = "calendar-minus-o" });
    selectList.Add(new SelectListItem() { Text = "Calendar-plus-o", Value = "calendar-plus-o" });
    selectList.Add(new SelectListItem() { Text = "Calendar-times-o", Value = "calendar-times-o" });
    selectList.Add(new SelectListItem() { Text = "Cc-diners-club", Value = "cc-diners-club" });
    selectList.Add(new SelectListItem() { Text = "Cc-jcb", Value = "cc-jcb" });
    selectList.Add(new SelectListItem() { Text = "Chrome", Value = "chrome" });
    selectList.Add(new SelectListItem() { Text = "Clone", Value = "clone" });
    selectList.Add(new SelectListItem() { Text = "Commenting", Value = "commenting" });
    selectList.Add(new SelectListItem() { Text = "Commenting-o", Value = "commenting-o" });
    selectList.Add(new SelectListItem() { Text = "Contao", Value = "contao" });
    selectList.Add(new SelectListItem() { Text = "Creative-commons", Value = "creative-commons" });
    selectList.Add(new SelectListItem() { Text = "Expeditedssl", Value = "expeditedssl" });
    selectList.Add(new SelectListItem() { Text = "Firefox", Value = "firefox" });
    selectList.Add(new SelectListItem() { Text = "Fonticons", Value = "fonticons" });
    selectList.Add(new SelectListItem() { Text = "Genderless", Value = "genderless" });
    selectList.Add(new SelectListItem() { Text = "Get-pocket", Value = "get-pocket" });
    selectList.Add(new SelectListItem() { Text = "Gg", Value = "gg" });
    selectList.Add(new SelectListItem() { Text = "Gg-circle", Value = "gg-circle" });
    selectList.Add(new SelectListItem() { Text = "Hand-grab-o", Value = "hand-grab-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-lizard-o", Value = "hand-lizard-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-paper-o", Value = "hand-paper-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-peace-o", Value = "hand-peace-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-pointer-o", Value = "hand-pointer-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-rock-o", Value = "hand-rock-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-scissors-o", Value = "hand-scissors-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-spock-o", Value = "hand-spock-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-stop-o", Value = "hand-stop-o" });
    selectList.Add(new SelectListItem() { Text = "Hourglass", Value = "hourglass" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-1", Value = "hourglass-1" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-2", Value = "hourglass-2" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-3", Value = "hourglass-3" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-end", Value = "hourglass-end" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-half", Value = "hourglass-half" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-o", Value = "hourglass-o" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-start", Value = "hourglass-start" });
    selectList.Add(new SelectListItem() { Text = "Houzz", Value = "houzz" });
    selectList.Add(new SelectListItem() { Text = "I-cursor", Value = "i-cursor" });
    selectList.Add(new SelectListItem() { Text = "Industry", Value = "industry" });
    selectList.Add(new SelectListItem() { Text = "Internet-explorer", Value = "internet-explorer" });
    selectList.Add(new SelectListItem() { Text = "Map", Value = "map" });
    selectList.Add(new SelectListItem() { Text = "Map-o", Value = "map-o" });
    selectList.Add(new SelectListItem() { Text = "Map-pin", Value = "map-pin" });
    selectList.Add(new SelectListItem() { Text = "Map-signs", Value = "map-signs" });
    selectList.Add(new SelectListItem() { Text = "Mouse-pointer", Value = "mouse-pointer" });
    selectList.Add(new SelectListItem() { Text = "Object-group", Value = "object-group" });
    selectList.Add(new SelectListItem() { Text = "Object-ungroup", Value = "object-ungroup" });
    selectList.Add(new SelectListItem() { Text = "Odnoklassniki", Value = "odnoklassniki" });
    selectList.Add(new SelectListItem() { Text = "Odnoklassniki-square", Value = "odnoklassniki-square" });
    selectList.Add(new SelectListItem() { Text = "Opencart", Value = "opencart" });
    selectList.Add(new SelectListItem() { Text = "Opera", Value = "opera" });
    selectList.Add(new SelectListItem() { Text = "Optin-monster", Value = "optin-monster" });
    selectList.Add(new SelectListItem() { Text = "Registered", Value = "registered" });
    selectList.Add(new SelectListItem() { Text = "Safari", Value = "safari" });
    selectList.Add(new SelectListItem() { Text = "Sticky-note", Value = "sticky-note" });
    selectList.Add(new SelectListItem() { Text = "Sticky-note-o", Value = "sticky-note-o" });
    selectList.Add(new SelectListItem() { Text = "Television", Value = "television" });
    selectList.Add(new SelectListItem() { Text = "Trademark", Value = "trademark" });
    selectList.Add(new SelectListItem() { Text = "Tripadvisor", Value = "tripadvisor" });
    selectList.Add(new SelectListItem() { Text = "Tv", Value = "tv" });
    selectList.Add(new SelectListItem() { Text = "Vimeo", Value = "vimeo" });
    selectList.Add(new SelectListItem() { Text = "Wikipedia-w", Value = "wikipedia-w" });
    selectList.Add(new SelectListItem() { Text = "Y-combinator", Value = "y-combinator" });
    selectList.Add(new SelectListItem() { Text = "Yc", Value = "yc" });
    selectList.Add(new SelectListItem() { Text = "Adjust", Value = "adjust" });
    selectList.Add(new SelectListItem() { Text = "Anchor", Value = "anchor" });
    selectList.Add(new SelectListItem() { Text = "Archive", Value = "archive" });
    selectList.Add(new SelectListItem() { Text = "Area-chart", Value = "area-chart" });
    selectList.Add(new SelectListItem() { Text = "Arrows", Value = "arrows" });
    selectList.Add(new SelectListItem() { Text = "Arrows-h", Value = "arrows-h" });
    selectList.Add(new SelectListItem() { Text = "Arrows-v", Value = "arrows-v" });
    selectList.Add(new SelectListItem() { Text = "Asterisk", Value = "asterisk" });
    selectList.Add(new SelectListItem() { Text = "At", Value = "at" });
    selectList.Add(new SelectListItem() { Text = "Automobile", Value = "automobile" });
    selectList.Add(new SelectListItem() { Text = "Balance-scale", Value = "balance-scale" });
    selectList.Add(new SelectListItem() { Text = "Ban", Value = "ban" });
    selectList.Add(new SelectListItem() { Text = "Bank", Value = "bank" });
    selectList.Add(new SelectListItem() { Text = "Bar-chart", Value = "bar-chart" });
    selectList.Add(new SelectListItem() { Text = "Bar-chart-o", Value = "bar-chart-o" });
    selectList.Add(new SelectListItem() { Text = "Barcode", Value = "barcode" });
    selectList.Add(new SelectListItem() { Text = "Bars", Value = "bars" });
    selectList.Add(new SelectListItem() { Text = "Battery-0", Value = "battery-0" });
    selectList.Add(new SelectListItem() { Text = "Battery-1", Value = "battery-1" });
    selectList.Add(new SelectListItem() { Text = "Battery-2", Value = "battery-2" });
    selectList.Add(new SelectListItem() { Text = "Battery-3", Value = "battery-3" });
    selectList.Add(new SelectListItem() { Text = "Battery-4", Value = "battery-4" });
    selectList.Add(new SelectListItem() { Text = "Battery-empty", Value = "battery-empty" });
    selectList.Add(new SelectListItem() { Text = "Battery-full", Value = "battery-full" });
    selectList.Add(new SelectListItem() { Text = "Battery-half", Value = "battery-half" });
    selectList.Add(new SelectListItem() { Text = "Battery-quarter", Value = "battery-quarter" });
    selectList.Add(new SelectListItem() { Text = "Battery-three-quarters", Value = "battery-three-quarters" });
    selectList.Add(new SelectListItem() { Text = "Bed", Value = "bed" });
    selectList.Add(new SelectListItem() { Text = "Beer", Value = "beer" });
    selectList.Add(new SelectListItem() { Text = "Bell", Value = "bell" });
    selectList.Add(new SelectListItem() { Text = "Bell-o", Value = "bell-o" });
    selectList.Add(new SelectListItem() { Text = "Bell-slash", Value = "bell-slash" });
    selectList.Add(new SelectListItem() { Text = "Bell-slash-o", Value = "bell-slash-o" });
    selectList.Add(new SelectListItem() { Text = "Bicycle", Value = "bicycle" });
    selectList.Add(new SelectListItem() { Text = "Binoculars", Value = "binoculars" });
    selectList.Add(new SelectListItem() { Text = "Birthday-cake", Value = "birthday-cake" });
    selectList.Add(new SelectListItem() { Text = "Bolt", Value = "bolt" });
    selectList.Add(new SelectListItem() { Text = "Bomb", Value = "bomb" });
    selectList.Add(new SelectListItem() { Text = "Book", Value = "book" });
    selectList.Add(new SelectListItem() { Text = "Bookmark", Value = "bookmark" });
    selectList.Add(new SelectListItem() { Text = "Bookmark-o", Value = "bookmark-o" });
    selectList.Add(new SelectListItem() { Text = "Briefcase", Value = "briefcase" });
    selectList.Add(new SelectListItem() { Text = "Bug", Value = "bug" });
    selectList.Add(new SelectListItem() { Text = "Building", Value = "building" });
    selectList.Add(new SelectListItem() { Text = "Building-o", Value = "building-o" });
    selectList.Add(new SelectListItem() { Text = "Bullhorn", Value = "bullhorn" });
    selectList.Add(new SelectListItem() { Text = "Bullseye", Value = "bullseye" });
    selectList.Add(new SelectListItem() { Text = "Bus", Value = "bus" });
    selectList.Add(new SelectListItem() { Text = "Cab", Value = "cab" });
    selectList.Add(new SelectListItem() { Text = "Calculator", Value = "calculator" });
    selectList.Add(new SelectListItem() { Text = "Calendar", Value = "calendar" });
    selectList.Add(new SelectListItem() { Text = "Calendar-check-o", Value = "calendar-check-o" });
    selectList.Add(new SelectListItem() { Text = "Calendar-minus-o", Value = "calendar-minus-o" });
    selectList.Add(new SelectListItem() { Text = "Calendar-o", Value = "calendar-o" });
    selectList.Add(new SelectListItem() { Text = "Calendar-plus-o", Value = "calendar-plus-o" });
    selectList.Add(new SelectListItem() { Text = "Calendar-times-o", Value = "calendar-times-o" });
    selectList.Add(new SelectListItem() { Text = "Camera", Value = "camera" });
    selectList.Add(new SelectListItem() { Text = "Camera-retro", Value = "camera-retro" });
    selectList.Add(new SelectListItem() { Text = "Car", Value = "car" });
    selectList.Add(new SelectListItem() { Text = "Caret-square-o-down", Value = "caret-square-o-down" });
    selectList.Add(new SelectListItem() { Text = "Caret-square-o-left", Value = "caret-square-o-left" });
    selectList.Add(new SelectListItem() { Text = "Caret-square-o-right", Value = "caret-square-o-right" });
    selectList.Add(new SelectListItem() { Text = "Caret-square-o-up", Value = "caret-square-o-up" });
    selectList.Add(new SelectListItem() { Text = "Cart-arrow-down", Value = "cart-arrow-down" });
    selectList.Add(new SelectListItem() { Text = "Cart-plus", Value = "cart-plus" });
    selectList.Add(new SelectListItem() { Text = "Cc", Value = "cc" });
    selectList.Add(new SelectListItem() { Text = "Certificate", Value = "certificate" });
    selectList.Add(new SelectListItem() { Text = "Check", Value = "check" });
    selectList.Add(new SelectListItem() { Text = "Check-circle", Value = "check-circle" });
    selectList.Add(new SelectListItem() { Text = "Check-circle-o", Value = "check-circle-o" });
    selectList.Add(new SelectListItem() { Text = "Check-square", Value = "check-square" });
    selectList.Add(new SelectListItem() { Text = "Check-square-o", Value = "check-square-o" });
    selectList.Add(new SelectListItem() { Text = "Child", Value = "child" });
    selectList.Add(new SelectListItem() { Text = "Circle", Value = "circle" });
    selectList.Add(new SelectListItem() { Text = "Circle-o", Value = "circle-o" });
    selectList.Add(new SelectListItem() { Text = "Circle-o-notch", Value = "circle-o-notch" });
    selectList.Add(new SelectListItem() { Text = "Circle-thin", Value = "circle-thin" });
    selectList.Add(new SelectListItem() { Text = "Clock-o", Value = "clock-o" });
    selectList.Add(new SelectListItem() { Text = "Clone", Value = "clone" });
    selectList.Add(new SelectListItem() { Text = "Close", Value = "close" });
    selectList.Add(new SelectListItem() { Text = "Cloud", Value = "cloud" });
    selectList.Add(new SelectListItem() { Text = "Cloud-download", Value = "cloud-download" });
    selectList.Add(new SelectListItem() { Text = "Cloud-upload", Value = "cloud-upload" });
    selectList.Add(new SelectListItem() { Text = "Code", Value = "code" });
    selectList.Add(new SelectListItem() { Text = "Code-fork", Value = "code-fork" });
    selectList.Add(new SelectListItem() { Text = "Coffee", Value = "coffee" });
    selectList.Add(new SelectListItem() { Text = "Cog", Value = "cog" });
    selectList.Add(new SelectListItem() { Text = "Cogs", Value = "cogs" });
    selectList.Add(new SelectListItem() { Text = "Comment", Value = "comment" });
    selectList.Add(new SelectListItem() { Text = "Comment-o", Value = "comment-o" });
    selectList.Add(new SelectListItem() { Text = "Commenting", Value = "commenting" });
    selectList.Add(new SelectListItem() { Text = "Commenting-o", Value = "commenting-o" });
    selectList.Add(new SelectListItem() { Text = "Comments", Value = "comments" });
    selectList.Add(new SelectListItem() { Text = "Comments-o", Value = "comments-o" });
    selectList.Add(new SelectListItem() { Text = "Compass", Value = "compass" });
    selectList.Add(new SelectListItem() { Text = "Copyright", Value = "copyright" });
    selectList.Add(new SelectListItem() { Text = "Creative-commons", Value = "creative-commons" });
    selectList.Add(new SelectListItem() { Text = "Credit-card", Value = "credit-card" });
    selectList.Add(new SelectListItem() { Text = "Crop", Value = "crop" });
    selectList.Add(new SelectListItem() { Text = "Crosshairs", Value = "crosshairs" });
    selectList.Add(new SelectListItem() { Text = "Cube", Value = "cube" });
    selectList.Add(new SelectListItem() { Text = "Cubes", Value = "cubes" });
    selectList.Add(new SelectListItem() { Text = "Cutlery", Value = "cutlery" });
    selectList.Add(new SelectListItem() { Text = "Dashboard", Value = "dashboard" });
    selectList.Add(new SelectListItem() { Text = "Database", Value = "database" });
    selectList.Add(new SelectListItem() { Text = "Desktop", Value = "desktop" });
    selectList.Add(new SelectListItem() { Text = "Diamond", Value = "diamond" });
    selectList.Add(new SelectListItem() { Text = "Dot-circle-o", Value = "dot-circle-o" });
    selectList.Add(new SelectListItem() { Text = "Download", Value = "download" });
    selectList.Add(new SelectListItem() { Text = "Edit", Value = "edit" });
    selectList.Add(new SelectListItem() { Text = "Ellipsis-h", Value = "ellipsis-h" });
    selectList.Add(new SelectListItem() { Text = "Ellipsis-v", Value = "ellipsis-v" });
    selectList.Add(new SelectListItem() { Text = "Envelope", Value = "envelope" });
    selectList.Add(new SelectListItem() { Text = "Envelope-o", Value = "envelope-o" });
    selectList.Add(new SelectListItem() { Text = "Envelope-square", Value = "envelope-square" });
    selectList.Add(new SelectListItem() { Text = "Eraser", Value = "eraser" });
    selectList.Add(new SelectListItem() { Text = "Exchange", Value = "exchange" });
    selectList.Add(new SelectListItem() { Text = "Exclamation", Value = "exclamation" });
    selectList.Add(new SelectListItem() { Text = "Exclamation-circle", Value = "exclamation-circle" });
    selectList.Add(new SelectListItem() { Text = "Exclamation-triangle", Value = "exclamation-triangle" });
    selectList.Add(new SelectListItem() { Text = "External-link", Value = "external-link" });
    selectList.Add(new SelectListItem() { Text = "External-link-square", Value = "external-link-square" });
    selectList.Add(new SelectListItem() { Text = "Eye", Value = "eye" });
    selectList.Add(new SelectListItem() { Text = "Eye-slash", Value = "eye-slash" });
    selectList.Add(new SelectListItem() { Text = "Eyedropper", Value = "eyedropper" });
    selectList.Add(new SelectListItem() { Text = "Fax", Value = "fax" });
    selectList.Add(new SelectListItem() { Text = "Feed", Value = "feed" });
    selectList.Add(new SelectListItem() { Text = "Female", Value = "female" });
    selectList.Add(new SelectListItem() { Text = "Fighter-jet", Value = "fighter-jet" });
    selectList.Add(new SelectListItem() { Text = "File-archive-o", Value = "file-archive-o" });
    selectList.Add(new SelectListItem() { Text = "File-audio-o", Value = "file-audio-o" });
    selectList.Add(new SelectListItem() { Text = "File-code-o", Value = "file-code-o" });
    selectList.Add(new SelectListItem() { Text = "File-excel-o", Value = "file-excel-o" });
    selectList.Add(new SelectListItem() { Text = "File-image-o", Value = "file-image-o" });
    selectList.Add(new SelectListItem() { Text = "", Value = "file-movie-o" });
    selectList.Add(new SelectListItem() { Text = "File-pdf-o", Value = "file-pdf-o" });
    selectList.Add(new SelectListItem() { Text = "File-photo-o", Value = "file-photo-o" });
    selectList.Add(new SelectListItem() { Text = "File-picture-o", Value = "file-picture-o" });
    selectList.Add(new SelectListItem() { Text = "File-powerpoint-o", Value = "file-powerpoint-o" });
    selectList.Add(new SelectListItem() { Text = "File-sound-o", Value = "file-sound-o" });
    selectList.Add(new SelectListItem() { Text = "File-video-o", Value = "file-video-o" });
    selectList.Add(new SelectListItem() { Text = "File-word-o", Value = "file-word-o" });
    selectList.Add(new SelectListItem() { Text = "File-zip-o", Value = "file-zip-o" });
    selectList.Add(new SelectListItem() { Text = "Film", Value = "film" });
    selectList.Add(new SelectListItem() { Text = "Filter", Value = "filter" });
    selectList.Add(new SelectListItem() { Text = "Fire", Value = "fire" });
    selectList.Add(new SelectListItem() { Text = "Fire-extinguisher", Value = "fire-extinguisher" });
    selectList.Add(new SelectListItem() { Text = "Flag", Value = "flag" });
    selectList.Add(new SelectListItem() { Text = "Flag-checkered", Value = "flag-checkered" });
    selectList.Add(new SelectListItem() { Text = "Flag-o", Value = "flag-o" });
    selectList.Add(new SelectListItem() { Text = "Flash", Value = "flash" });
    selectList.Add(new SelectListItem() { Text = "Flask", Value = "flask" });
    selectList.Add(new SelectListItem() { Text = "Folder", Value = "folder" });
    selectList.Add(new SelectListItem() { Text = "Folder-o", Value = "folder-o" });
    selectList.Add(new SelectListItem() { Text = "Folder-open", Value = "folder-open" });
    selectList.Add(new SelectListItem() { Text = "Folder-open-o", Value = "folder-open-o" });
    selectList.Add(new SelectListItem() { Text = "Frown-o", Value = "frown-o" });
    selectList.Add(new SelectListItem() { Text = "Futbol-o", Value = "futbol-o" });
    selectList.Add(new SelectListItem() { Text = "Gamepad", Value = "gamepad" });
    selectList.Add(new SelectListItem() { Text = "Gavel", Value = "gavel" });
    selectList.Add(new SelectListItem() { Text = "Gear", Value = "gear" });
    selectList.Add(new SelectListItem() { Text = "Gears", Value = "gears" });
    selectList.Add(new SelectListItem() { Text = "Gift", Value = "gift" });
    selectList.Add(new SelectListItem() { Text = "Glass", Value = "glass" });
    selectList.Add(new SelectListItem() { Text = "Globe", Value = "globe" });
    selectList.Add(new SelectListItem() { Text = "Graduation-cap", Value = "graduation-cap" });
    selectList.Add(new SelectListItem() { Text = "Group", Value = "group" });
    selectList.Add(new SelectListItem() { Text = "Hand-grab-o", Value = "hand-grab-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-lizard-o", Value = "hand-lizard-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-paper-o", Value = "hand-paper-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-peace-o", Value = "hand-peace-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-pointer-o", Value = "hand-pointer-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-rock-o", Value = "hand-rock-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-scissors-o", Value = "hand-scissors-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-spock-o", Value = "hand-spock-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-stop-o", Value = "hand-stop-o" });
    selectList.Add(new SelectListItem() { Text = "Hdd-o", Value = "hdd-o" });
    selectList.Add(new SelectListItem() { Text = "Headphones", Value = "headphones" });
    selectList.Add(new SelectListItem() { Text = "Heart", Value = "heart" });
    selectList.Add(new SelectListItem() { Text = "Heart-o", Value = "heart-o" });
    selectList.Add(new SelectListItem() { Text = "Heartbeat", Value = "heartbeat" });
    selectList.Add(new SelectListItem() { Text = "History", Value = "history" });
    selectList.Add(new SelectListItem() { Text = "Home", Value = "home" });
    selectList.Add(new SelectListItem() { Text = "Hotel", Value = "hotel" });
    selectList.Add(new SelectListItem() { Text = "Hourglass", Value = "hourglass" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-1", Value = "hourglass-1" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-2", Value = "hourglass-2" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-3", Value = "hourglass-3" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-end", Value = "hourglass-end" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-half", Value = "hourglass-half" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-o", Value = "hourglass-o" });
    selectList.Add(new SelectListItem() { Text = "Hourglass-start", Value = "hourglass-start" });
    selectList.Add(new SelectListItem() { Text = "I-cursor", Value = "i-cursor" });
    selectList.Add(new SelectListItem() { Text = "Image", Value = "image" });
    selectList.Add(new SelectListItem() { Text = "Inbox", Value = "inbox" });
    selectList.Add(new SelectListItem() { Text = "Industry", Value = "industry" });
    selectList.Add(new SelectListItem() { Text = "Info", Value = "info" });
    selectList.Add(new SelectListItem() { Text = "Info-circle", Value = "info-circle" });
    selectList.Add(new SelectListItem() { Text = "Institution", Value = "institution" });
    selectList.Add(new SelectListItem() { Text = "Key", Value = "key" });
    selectList.Add(new SelectListItem() { Text = "Keyboard-o", Value = "keyboard-o" });
    selectList.Add(new SelectListItem() { Text = "Language", Value = "language" });
    selectList.Add(new SelectListItem() { Text = "Laptop", Value = "laptop" });
    selectList.Add(new SelectListItem() { Text = "Leaf", Value = "leaf" });
    selectList.Add(new SelectListItem() { Text = "Legal", Value = "legal" });
    selectList.Add(new SelectListItem() { Text = "Lemon-o", Value = "lemon-o" });
    selectList.Add(new SelectListItem() { Text = "Level-down", Value = "level-down" });
    selectList.Add(new SelectListItem() { Text = "Level-up", Value = "level-up" });
    selectList.Add(new SelectListItem() { Text = "Life-bouy", Value = "life-bouy" });
    selectList.Add(new SelectListItem() { Text = "Life-buoy", Value = "life-buoy" });
    selectList.Add(new SelectListItem() { Text = "Life-ring", Value = "life-ring" });
    selectList.Add(new SelectListItem() { Text = "Life-saver", Value = "life-saver" });
    selectList.Add(new SelectListItem() { Text = "Lightbulb-o", Value = "lightbulb-o" });
    selectList.Add(new SelectListItem() { Text = "Line-chart", Value = "line-chart" });
    selectList.Add(new SelectListItem() { Text = "Location-arrow", Value = "location-arrow" });
    selectList.Add(new SelectListItem() { Text = "Lock", Value = "lock" });
    selectList.Add(new SelectListItem() { Text = "Magic", Value = "magic" });
    selectList.Add(new SelectListItem() { Text = "Magnet", Value = "magnet" });
    selectList.Add(new SelectListItem() { Text = "Mail-forward", Value = "mail-forward" });
    selectList.Add(new SelectListItem() { Text = "Mail-reply", Value = "mail-reply" });
    selectList.Add(new SelectListItem() { Text = "Mail-reply-all", Value = "mail-reply-all" });
    selectList.Add(new SelectListItem() { Text = "Male", Value = "male" });
    selectList.Add(new SelectListItem() { Text = "Map", Value = "map" });
    selectList.Add(new SelectListItem() { Text = "Map-marker", Value = "map-marker" });
    selectList.Add(new SelectListItem() { Text = "Map-o", Value = "map-o" });
    selectList.Add(new SelectListItem() { Text = "Map-pin", Value = "map-pin" });
    selectList.Add(new SelectListItem() { Text = "Map-signs", Value = "map-signs" });
    selectList.Add(new SelectListItem() { Text = "Meh-o", Value = "meh-o" });
    selectList.Add(new SelectListItem() { Text = "Microphone", Value = "microphone" });
    selectList.Add(new SelectListItem() { Text = "Microphone-slash", Value = "microphone-slash" });
    selectList.Add(new SelectListItem() { Text = "Minus", Value = "minus" });
    selectList.Add(new SelectListItem() { Text = "Minus-circle", Value = "minus-circle" });
    selectList.Add(new SelectListItem() { Text = "Minus-square", Value = "minus-square" });
    selectList.Add(new SelectListItem() { Text = "Minus-square-o", Value = "minus-square-o" });
    selectList.Add(new SelectListItem() { Text = "Mobile", Value = "mobile" });
    selectList.Add(new SelectListItem() { Text = "Mobile-phone", Value = "mobile-phone" });
    selectList.Add(new SelectListItem() { Text = "Money", Value = "money" });
    selectList.Add(new SelectListItem() { Text = "Moon-o", Value = "moon-o" });
    selectList.Add(new SelectListItem() { Text = "Mortar-board", Value = "mortar-board" });
    selectList.Add(new SelectListItem() { Text = "Motorcycle", Value = "motorcycle" });
    selectList.Add(new SelectListItem() { Text = "Mouse-pointer", Value = "mouse-pointer" });
    selectList.Add(new SelectListItem() { Text = "Music", Value = "music" });
    selectList.Add(new SelectListItem() { Text = "Navicon", Value = "navicon" });
    selectList.Add(new SelectListItem() { Text = "Newspaper-o", Value = "newspaper-o" });
    selectList.Add(new SelectListItem() { Text = "Object-group", Value = "object-group" });
    selectList.Add(new SelectListItem() { Text = "Object-ungroup", Value = "object-ungroup" });
    selectList.Add(new SelectListItem() { Text = "Paint-brush", Value = "paint-brush" });
    selectList.Add(new SelectListItem() { Text = "Paper-plane", Value = "paper-plane" });
    selectList.Add(new SelectListItem() { Text = "Paper-plane-o", Value = "paper-plane-o" });
    selectList.Add(new SelectListItem() { Text = "Paw", Value = "paw" });
    selectList.Add(new SelectListItem() { Text = "Pencil", Value = "pencil" });
    selectList.Add(new SelectListItem() { Text = "Pencil-square", Value = "pencil-square" });
    selectList.Add(new SelectListItem() { Text = "Pencil-square-o", Value = "pencil-square-o" });
    selectList.Add(new SelectListItem() { Text = "Phone", Value = "phone" });
    selectList.Add(new SelectListItem() { Text = "Phone-square", Value = "phone-square" });
    selectList.Add(new SelectListItem() { Text = "Photo", Value = "photo" });
    selectList.Add(new SelectListItem() { Text = "Picture-o", Value = "picture-o" });
    selectList.Add(new SelectListItem() { Text = "Pie-chart", Value = "pie-chart" });
    selectList.Add(new SelectListItem() { Text = "Plane", Value = "plane" });
    selectList.Add(new SelectListItem() { Text = "Plug", Value = "plug" });
    selectList.Add(new SelectListItem() { Text = "Plus", Value = "plus" });
    selectList.Add(new SelectListItem() { Text = "Plus-circle", Value = "plus-circle" });
    selectList.Add(new SelectListItem() { Text = "Plus-square", Value = "plus-square" });
    selectList.Add(new SelectListItem() { Text = "Plus-square-o", Value = "plus-square-o" });
    selectList.Add(new SelectListItem() { Text = "Power-off", Value = "power-off" });
    selectList.Add(new SelectListItem() { Text = "Print", Value = "print" });
    selectList.Add(new SelectListItem() { Text = "Puzzle-piece", Value = "puzzle-piece" });
    selectList.Add(new SelectListItem() { Text = "Qrcode", Value = "qrcode" });
    selectList.Add(new SelectListItem() { Text = "Question", Value = "question" });
    selectList.Add(new SelectListItem() { Text = "Question-circle", Value = "question-circle" });
    selectList.Add(new SelectListItem() { Text = "Quote-left", Value = "quote-left" });
    selectList.Add(new SelectListItem() { Text = "Quote-right", Value = "quote-right" });
    selectList.Add(new SelectListItem() { Text = "Random", Value = "random" });
    selectList.Add(new SelectListItem() { Text = "Recycle", Value = "recycle" });
    selectList.Add(new SelectListItem() { Text = "Refresh", Value = "refresh" });
    selectList.Add(new SelectListItem() { Text = "Registered", Value = "registered" });
    selectList.Add(new SelectListItem() { Text = "Remove", Value = "remove" });
    selectList.Add(new SelectListItem() { Text = "Reorder", Value = "reorder" });
    selectList.Add(new SelectListItem() { Text = "Reply", Value = "reply" });
    selectList.Add(new SelectListItem() { Text = "Reply-all", Value = "reply-all" });
    selectList.Add(new SelectListItem() { Text = "Retweet", Value = "retweet" });
    selectList.Add(new SelectListItem() { Text = "Road", Value = "road" });
    selectList.Add(new SelectListItem() { Text = "Rocket", Value = "rocket" });
    selectList.Add(new SelectListItem() { Text = "Rss", Value = "rss" });
    selectList.Add(new SelectListItem() { Text = "Rss-square", Value = "rss-square" });
    selectList.Add(new SelectListItem() { Text = "Search", Value = "search" });
    selectList.Add(new SelectListItem() { Text = "Search-minus", Value = "search-minus" });
    selectList.Add(new SelectListItem() { Text = "Search-plus", Value = "search-plus" });
    selectList.Add(new SelectListItem() { Text = "Send", Value = "send" });
    selectList.Add(new SelectListItem() { Text = "Send-o", Value = "send-o" });
    selectList.Add(new SelectListItem() { Text = "Server", Value = "server" });
    selectList.Add(new SelectListItem() { Text = "Share", Value = "share" });
    selectList.Add(new SelectListItem() { Text = "Share-alt", Value = "share-alt" });
    selectList.Add(new SelectListItem() { Text = "Share-alt-square", Value = "share-alt-square" });
    selectList.Add(new SelectListItem() { Text = "Share-square", Value = "share-square" });
    selectList.Add(new SelectListItem() { Text = "Share-square-o", Value = "share-square-o" });
    selectList.Add(new SelectListItem() { Text = "Shield", Value = "shield" });
    selectList.Add(new SelectListItem() { Text = "Ship", Value = "ship" });
    selectList.Add(new SelectListItem() { Text = "Shopping-cart", Value = "shopping-cart" });
    selectList.Add(new SelectListItem() { Text = "Sign-in", Value = "sign-in" });
    selectList.Add(new SelectListItem() { Text = "Sign-out", Value = "sign-out" });
    selectList.Add(new SelectListItem() { Text = "Signal", Value = "signal" });
    selectList.Add(new SelectListItem() { Text = "Sitemap", Value = "sitemap" });
    selectList.Add(new SelectListItem() { Text = "Sliders", Value = "sliders" });
    selectList.Add(new SelectListItem() { Text = "Smile-o", Value = "smile-o" });
    selectList.Add(new SelectListItem() { Text = "Soccer-ball-o", Value = "soccer-ball-o" });
    selectList.Add(new SelectListItem() { Text = "Sort", Value = "sort" });
    selectList.Add(new SelectListItem() { Text = "Sort-alpha-asc", Value = "sort-alpha-asc" });
    selectList.Add(new SelectListItem() { Text = "Sort-alpha-desc", Value = "sort-alpha-desc" });
    selectList.Add(new SelectListItem() { Text = "Sort-amount-asc", Value = "sort-amount-asc" });
    selectList.Add(new SelectListItem() { Text = "Sort-amount-desc", Value = "sort-amount-desc" });
    selectList.Add(new SelectListItem() { Text = "Sort-asc", Value = "sort-asc" });
    selectList.Add(new SelectListItem() { Text = "Sort-desc", Value = "sort-desc" });
    selectList.Add(new SelectListItem() { Text = "Sort-down", Value = "sort-down" });
    selectList.Add(new SelectListItem() { Text = "Sort-numeric-asc", Value = "sort-numeric-asc" });
    selectList.Add(new SelectListItem() { Text = "Sort-numeric-desc", Value = "sort-numeric-desc" });
    selectList.Add(new SelectListItem() { Text = "Sort-up", Value = "sort-up" });
    selectList.Add(new SelectListItem() { Text = "Space-shuttle", Value = "space-shuttle" });
    selectList.Add(new SelectListItem() { Text = "Spinner", Value = "spinner" });
    selectList.Add(new SelectListItem() { Text = "Spoon", Value = "spoon" });
    selectList.Add(new SelectListItem() { Text = "Square", Value = "square" });
    selectList.Add(new SelectListItem() { Text = "Square-o", Value = "square-o" });
    selectList.Add(new SelectListItem() { Text = "Star", Value = "star" });
    selectList.Add(new SelectListItem() { Text = "Star-half", Value = "star-half" });
    selectList.Add(new SelectListItem() { Text = "Star-half-empty", Value = "star-half-empty" });
    selectList.Add(new SelectListItem() { Text = "Star-half-full", Value = "star-half-full" });
    selectList.Add(new SelectListItem() { Text = "Star-half-o", Value = "star-half-o" });
    selectList.Add(new SelectListItem() { Text = "Star-o", Value = "star-o" });
    selectList.Add(new SelectListItem() { Text = "Sticky-note", Value = "sticky-note" });
    selectList.Add(new SelectListItem() { Text = "Sticky-note-o", Value = "sticky-note-o" });
    selectList.Add(new SelectListItem() { Text = "Street-view", Value = "street-view" });
    selectList.Add(new SelectListItem() { Text = "Suitcase", Value = "suitcase" });
    selectList.Add(new SelectListItem() { Text = "Sun-o", Value = "sun-o" });
    selectList.Add(new SelectListItem() { Text = "Support", Value = "support" });
    selectList.Add(new SelectListItem() { Text = "Tablet", Value = "tablet" });
    selectList.Add(new SelectListItem() { Text = "Tachometer", Value = "tachometer" });
    selectList.Add(new SelectListItem() { Text = "Tag", Value = "tag" });
    selectList.Add(new SelectListItem() { Text = "Tags", Value = "tags" });
    selectList.Add(new SelectListItem() { Text = "Tasks", Value = "tasks" });
    selectList.Add(new SelectListItem() { Text = "Taxi", Value = "taxi" });
    selectList.Add(new SelectListItem() { Text = "Television", Value = "television" });
    selectList.Add(new SelectListItem() { Text = "Terminal", Value = "terminal" });
    selectList.Add(new SelectListItem() { Text = "Thumb-tack", Value = "thumb-tack" });
    selectList.Add(new SelectListItem() { Text = "Thumbs-down", Value = "thumbs-down" });
    selectList.Add(new SelectListItem() { Text = "Thumbs-o-down", Value = "thumbs-o-down" });
    selectList.Add(new SelectListItem() { Text = "Thumbs-o-up", Value = "thumbs-o-up" });
    selectList.Add(new SelectListItem() { Text = "Thumbs-up", Value = "thumbs-up" });
    selectList.Add(new SelectListItem() { Text = "Ticket", Value = "ticket" });
    selectList.Add(new SelectListItem() { Text = "Times", Value = "times" });
    selectList.Add(new SelectListItem() { Text = "Times-circle", Value = "times-circle" });
    selectList.Add(new SelectListItem() { Text = "Times-circle-o", Value = "times-circle-o" });
    selectList.Add(new SelectListItem() { Text = "Tint", Value = "tint" });
    selectList.Add(new SelectListItem() { Text = "Toggle-down", Value = "toggle-down" });
    selectList.Add(new SelectListItem() { Text = "Toggle-left", Value = "toggle-left" });
    selectList.Add(new SelectListItem() { Text = "Toggle-off", Value = "toggle-off" });
    selectList.Add(new SelectListItem() { Text = "Toggle-on", Value = "toggle-on" });
    selectList.Add(new SelectListItem() { Text = "Toggle-right", Value = "toggle-right" });
    selectList.Add(new SelectListItem() { Text = "Toggle-up", Value = "toggle-up" });
    selectList.Add(new SelectListItem() { Text = "Trademark", Value = "trademark" });
    selectList.Add(new SelectListItem() { Text = "Trash", Value = "trash" });
    selectList.Add(new SelectListItem() { Text = "Trash-o", Value = "trash-o" });
    selectList.Add(new SelectListItem() { Text = "Tree", Value = "tree" });
    selectList.Add(new SelectListItem() { Text = "Trophy", Value = "trophy" });
    selectList.Add(new SelectListItem() { Text = "Truck", Value = "truck" });
    selectList.Add(new SelectListItem() { Text = "Tty", Value = "tty" });
    selectList.Add(new SelectListItem() { Text = "Tv", Value = "tv" });
    selectList.Add(new SelectListItem() { Text = "Umbrella", Value = "umbrella" });
    selectList.Add(new SelectListItem() { Text = "University", Value = "university" });
    selectList.Add(new SelectListItem() { Text = "Unlock", Value = "unlock" });
    selectList.Add(new SelectListItem() { Text = "Unlock-alt", Value = "unlock-alt" });
    selectList.Add(new SelectListItem() { Text = "Unsorted", Value = "unsorted" });
    selectList.Add(new SelectListItem() { Text = "Upload", Value = "upload" });
    selectList.Add(new SelectListItem() { Text = "User", Value = "user" });
    selectList.Add(new SelectListItem() { Text = "User-plus", Value = "user-plus" });
    selectList.Add(new SelectListItem() { Text = "User-secret", Value = "user-secret" });
    selectList.Add(new SelectListItem() { Text = "User-times", Value = "user-times" });
    selectList.Add(new SelectListItem() { Text = "Users", Value = "users" });
    selectList.Add(new SelectListItem() { Text = "Video-camera", Value = "video-camera" });
    selectList.Add(new SelectListItem() { Text = "Volume-down", Value = "volume-down" });
    selectList.Add(new SelectListItem() { Text = "Volume-off", Value = "volume-off" });
    selectList.Add(new SelectListItem() { Text = "Volume-up", Value = "volume-up" });
    selectList.Add(new SelectListItem() { Text = "Warning", Value = "warning" });
    selectList.Add(new SelectListItem() { Text = "Wheelchair", Value = "wheelchair" });
    selectList.Add(new SelectListItem() { Text = "Wifi", Value = "wifi" });
    selectList.Add(new SelectListItem() { Text = "Wrench", Value = "wrench" });
    selectList.Add(new SelectListItem() { Text = "Hand-grab-o", Value = "hand-grab-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-lizard-o", Value = "hand-lizard-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-o-down", Value = "hand-o-down" });
    selectList.Add(new SelectListItem() { Text = "Hand-o-left", Value = "hand-o-left" });
    selectList.Add(new SelectListItem() { Text = "Hand-o-right", Value = "hand-o-right" });
    selectList.Add(new SelectListItem() { Text = "Hand-o-up", Value = "hand-o-up" });
    selectList.Add(new SelectListItem() { Text = "Hand-paper-o", Value = "hand-paper-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-peace-o", Value = "hand-peace-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-pointer-o", Value = "hand-pointer-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-rock-o", Value = "hand-rock-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-scissors-o", Value = "hand-scissors-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-spock-o", Value = "hand-spock-o" });
    selectList.Add(new SelectListItem() { Text = "Hand-stop-o", Value = "hand-stop-o" });
    selectList.Add(new SelectListItem() { Text = "Thumbs-down", Value = "thumbs-down" });
    selectList.Add(new SelectListItem() { Text = "Thumbs-o-down", Value = "thumbs-o-down" });
    selectList.Add(new SelectListItem() { Text = "Thumbs-o-up", Value = "thumbs-o-up" });
    selectList.Add(new SelectListItem() { Text = "Thumbs-up", Value = "thumbs-up" });
    selectList.Add(new SelectListItem() { Text = "Ambulance", Value = "ambulance" });
    selectList.Add(new SelectListItem() { Text = "Automobile", Value = "automobile" });
    selectList.Add(new SelectListItem() { Text = "Bicycle", Value = "bicycle" });
    selectList.Add(new SelectListItem() { Text = "Bus", Value = "bus" });
    selectList.Add(new SelectListItem() { Text = "Cab", Value = "cab" });
    selectList.Add(new SelectListItem() { Text = "Car", Value = "car" });
    selectList.Add(new SelectListItem() { Text = "Fighter-jet", Value = "fighter-jet" });
    selectList.Add(new SelectListItem() { Text = "Motorcycle", Value = "motorcycle" });
    selectList.Add(new SelectListItem() { Text = "Plane", Value = "plane" });
    selectList.Add(new SelectListItem() { Text = "Rocket", Value = "rocket" });
    selectList.Add(new SelectListItem() { Text = "Ship", Value = "ship" });
    selectList.Add(new SelectListItem() { Text = "Space-shuttle", Value = "space-shuttle" });
    selectList.Add(new SelectListItem() { Text = "Subway", Value = "subway" });
    selectList.Add(new SelectListItem() { Text = "Taxi", Value = "taxi" });
    selectList.Add(new SelectListItem() { Text = "Train", Value = "train" });
    selectList.Add(new SelectListItem() { Text = "Truck", Value = "truck" });
    selectList.Add(new SelectListItem() { Text = "Wheelchair", Value = "wheelchair" });

    selectList.Where(x => Model == x.Value).ToList().ForEach(x => x.Selected = true);
}

@Html.DropDownListFor(x => x, selectList, new { @class = "form-control", @id = guid })
<script>
    $(document).ready(function (first) {
        $("#@guid").select2({
            // Specify format function for dropdown item
            formatResult: formatResult,
            // Specify format function for selected item
            formatSelection: formatSelection
        });

        function formatResult(item) {
            if (!item.id) {
                // return `text` for optgroup
                return item.text;
            }
            // return item template
            return '<div><i class="fa fa-fw fa-' + item.id + '"></i> ' + item.text + '</div>';
        }

        function formatSelection(item) {
            return '<div><i class="fa fa-fw fa-' + item.id + '"></i> ' + item.text + '</div>';
        }
    });
</script>