@model TextColor
@{
    var guid = Guid.NewGuid();

    var selectList = Enum.GetNames(typeof(TextColor)).Select(x => new SelectListItem() { Text = "text-" + x.ToLower(), Value = x, Selected = x == Model.ToString() });
}

@Html.DropDownListFor(x => x, selectList, new { @class = "form-control " + @guid })
<script>
    $(document).ready(function (first) {
        $(".@guid").select2({
            // Specify format function for dropdown item
            formatResult: formatResult,
            // Specify format function for selected item
            formatSelection: formatSelection
        });

        function formatResult(item) {
            if (!item.id) {
                // return `text` for optgroup
                return item.text;
            }
            // return item template
            return '<div class="' + item.text + '">' + item.id + '</div>';
        }

        function formatSelection(item) {
            return '<div class="' + item.text + '">' + item.id + '</div>';
        }
    });
</script>