@{
    List<SideTabViewModel> sideTabs = ViewBag.SideTabs;
}
@if (sideTabs.Count > 0)
{
    <aside class="control-sidebar control-sidebar-dark">
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            @foreach (var sideTab in sideTabs)
            {
                var isActiveClass = sideTab.IsActive ? "active" : sideTab == sideTabs.First() ? "active" : "";
                <text>
                    <li class="@isActiveClass"><a href="#@sideTab.Id" data-toggle="tab"><i class="fa @sideTab.FontAwesomeIcon"></i></a></li>
                </text>
            }
        </ul>
        <div class="tab-content">
            @foreach (var sideTab in sideTabs)
            {
                var isActiveClass = sideTab.IsActive ? "active" : sideTab == sideTabs.First() ? "active" : "";
                <text>
                    <div class="tab-pane @isActiveClass" id="@sideTab.Id">
                        @{Html.RenderAction(sideTab.Action, sideTab.Controller, sideTab.RouteValues);}
                    </div>
                </text>
            }
        </div>
    </aside>
}
