<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <small> v.@ViewBag.Version</small>
        
    </div>
    <strong>Copyright &copy; @DateTime.Now.Year <a href="@ViewBag.CompanyUrl">@ViewBag.CompanyName</a>.</strong> All rights reserved.
</footer>
