@using Phobos.Helpers

@model MessageMailBoxFolderViewModel
@Html.SetPartialHelper("ButtonsForPager", (Func<HelperResult>)(ButtonsForPager))
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">@Model.Name</h3>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <input type="text" class="form-control input-sm grid-search" placeholder="Search Mail">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
    </div>
    
    <div class="box-body no-padding">
        @(Html
        .Grid(Model.Messages)
        .Build(columns =>
        {
            columns.Add(model => model)
                    .RenderedAs(model => "<input type='checkbox'>")
                    .Encoded(false);
            columns.Add(model => model.IsFavorite)
                    .Encoded(false)
                    .Filterable(false)
                    .RenderedAs(model => Html.FontAwesome("#", model.IsFavorite ? "star" : "star-o", TextColor.Yellow));
            columns.Add(model => model.Sender)
                    .Encoded(false)
                    .Filterable(false)
                    .RenderedAs(model => "<a href=" + Url.Action("ReadMessage", new { id = model.MessageId }) + ">" + model.Sender + "</a>");
            columns.Add(model => model.Title)
                    .Encoded(false)
                    .RenderedAs(model => string.Format("<b>{0}</b> - {1}", model.Title, model.Intro));
            columns.Add(model => model.HasAttachment)
                    .Encoded(false)
                    .Filterable(false)
                    .RenderedAs(model => model.HasAttachment ? Html.FontAwesome("paperclip") : MvcHtmlString.Create(""));
            columns.Add(model => model.Date)
                  .Encoded(false)
                  .Filterable(false)
                  .RenderedAs(model => Html.TimeAgo(model.Date));
        })
        .Filterable(false)
        .Sortable(false)
                .Css("hideTh box-footer no-padding")
        .Pageable(pager =>
        {
            pager.PagesToDisplay = 0;
            pager.InitialPage = 1;
            pager.RowsPerPage = 16;
        })
        )
    </div>
</div>


@helper ButtonsForPager()
{
    <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
    <div class="btn-group">
        <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
        <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
        <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
    </div>
    <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
}